##1920
###문제
N개의 정수 A[1], A[2], …, A[N]이 주어져 있을 때, 이 안에 X라는 정수가 존재하는지 알아내는 프로그램을 작성하시오.

###입력
첫째 줄에 자연수 N(1 ≤ N ≤ 100,000)이 주어진다. 다음 줄에는 N개의 정수 A[1], A[2], …, A[N]이 주어진다. 다음 줄에는 M(1 ≤ M ≤ 100,000)이 주어진다. 다음 줄에는 M개의 수들이 주어지는데, 이 수들이 A안에 존재하는지 알아내면 된다. 모든 정수의 범위는 -231 보다 크거나 같고 231보다 작다.

###출력
M개의 줄에 답을 출력한다. 존재하면 1을, 존재하지 않으면 0을 출력한다.

In [1]:
#이진탐색 사용(시간 복잡도 : O(logN))
#데이터 개수
n = int(input())
#데이터
data = list(map(int,input().split()))
#데이터 정렬
data.sort()
#탐색할 숫자 갯수
m = int(input())
#탐색할 수 데이터
target_l = list(map(int,input().split()))

for i in range(m):
  find = False
  target = target_l[i]
  #이진탐색 시작
  start = 0
  end = len(data)-1
  while start<=end:
    midle = int((start+end)/2)
    mid = data[midle]
    if mid > target:
      end = midle -1
    elif mid < target:
      start = midle + 1
    else:
      find = True
      break
  if find:
    print(1)
  else:
    print(0)

5
4 1 5 2 3
5
1 3 7 9 5
1
1
0
0
1