###문제
배열을 정렬하는 것은 쉽다. 수가 주어지면, 그 수의 각 자리수를 내림차순으로 정렬해보자.

###입력
첫째 줄에 정렬하려고 하는 수 N이 주어진다. N은 1,000,000,000보다 작거나 같은 자연수이다.

###출력
첫째 줄에 자리수를 내림차순으로 정렬한 수를 출력한다.

In [ ]:
n = input()
num_list = []

for i in n:
  num_list.append(int(i))

num_list.sort(reverse=True)
a = ''
for i in num_list:
  a += str(i)

print(a)

2143
4321

In [1]:
#선택정렬 사용
a = list(input())

for i in range(len(a)):
  max = i
  for j in range(i+1,len(a)):
    if a[j] > a[max]:
      max = j
  if a[i] < a[max]:
    temp = a[i]
    a[i] = a[max]
    a[max] = temp

for i in range(len(a)):
  print(a[i])

2143
4
3
2
1